
Django==3.1.4
Pillow


# python manage.py dumpdata --exclude auth.permission --exclude contenttypes --exclude auth.user --exclude sessions.session --indent 2 > db.json

#python -Xutf8 manage.py dumpdata --exclude auth.permission --exclude contenttypes --exclude auth.user --exclude sessions.session --indent 2 > db.json
#reconhece utf-8 (caracteres especiais)

#python -m pip install --upgrade pip     #para erro no pip